@page
@model Website.Pages.DinoDinerMenuModel
@{
    ViewData["Title"] = "DinoDinerMenu";
}

<h2>DinoDinerMenu</h2>

<div id="grid">
    <a asp-page="/About">About Us</a>
    <a asp-page="/DinoDinerMenu">Menu</a>
    <a asp-page="/PrivacyPolicy">Privacy Policy</a>
</div>