@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to the Dino-Diner!";
}


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="body-content">
        <iframe width="1080" 
                height="720" 
                src="https://www.youtube.com/embed/HSOuLJtDRFA" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    </div>
</body>