@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to the Dino-Diner!";
}


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="body-content">
        <iframe src="https://giphy.com/embed/5ev3alRsskWA0"
                width="420"
                height="720"
                frameBorder="0"
                class="giphy-embed"
                allowFullScreen>
        </iframe>
    </div>
</body>