@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to the Dino-Diner!";
}


<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="banner-image">
        <div class="banner-text">
            <h1>Welcome to the Future of Ancient Cooking</h1>
        </div>
    </div>
</body>