@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to the Dino-Diner!";
}

<link rel="stylesheet"
      href="~/css/site.css" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to the Future of Ancient Cooking</h1>

            <div id="grid">
                <a asp-page="/About">About Us</a>
                <a asp-page="/DinoDinerMenu">Menu</a>
                <a asp-page="/PrivacyPolicy">Privacy Policy</a>
            </div>
        </div>
    </div>


</body>