@page
@model Website.Pages.PrivacyPolicyModel
@{
    ViewData["Title"] = "PrivacyPolicy";
}

<h2>PrivacyPolicy</h2>

<div id="grid">
    <a asp-page="/About">About Us</a>
    <a asp-page="/DinoDinerMenu">Menu</a>
    <a asp-page="/PrivacyPolicy">Privacy Policy</a>
</div>
